body {
    display: flex; 
    background-color: rgb(241, 241, 241)
}


div {
    width: 520px;
    padding: 20px;
    border: 1px solid #ffffff;
    margin-right:50px;
    box-sizing: border-box;
}

.painel{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: 4px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}   

.border {
    font-size: 28px;
}

.painel {
    background-image: url("/aula_18_09/imagens/Fogo-Fire-Wallpaper-FCiências-10.webp"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
}

.titulo{
    color: black;
    font-size: 35px;
}
.tabela-cor{
    color: black
}