* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 45px;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #14141c;
    justify-content: space-around;
    align-items: center;
}